option_settings:
  aws:elasticbeanstalk:application:environment:
    PORT: 8080
    NODE_ENV: production
  aws:elbv2:listener:443:
    DefaultProcess: default
    ListenerEnabled: 'true'
    Protocol: HTTPS
    SSLCertificateArns: arn:aws:acm:eu-north-1:ACCOUNT_ID:certificate/CERTIFICATE_ID
  aws:elbv2:listener:default:
    ListenerEnabled: 'true'
